* {
    padding: 0;
    margin: 0;
}

:root{
    --bgcolor: #0365AE;
    --txtcolor: #fff;
    --breadcolor: #163f77;
    --newscolor: #F3C42B;
    --newstxtcolor: black;
    --contentxtcolor: black;
    --contentbgcolor: white;
    --linkcolor: white;
    --visitedcolor: #F3C42B;

}

html, body{
    font-size: 100%;
    font-family: "Verdana", sans-serif;
    line-height: 1.5em;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    margin: auto;
}

html{
    background-image: url('images/bg.png');
    background-size: contain;}

body{
    max-width: 1024px;
    border:  1px solid black;
    grid-template-areas: "h h"
                         "b b"
                         "m c"
                         "f f";
}

#homepage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "h h h"
                         "b b b"
                         "m c m"
                         "f f f";
}

/*
==============
SEZIONE HEADER
==============
*/

header{
    text-align:  center;
    padding: .7em 1em 1em;
    margin: .7em;
    background: url("images/giannellipalleggio.jpg") right bottom no-repeat,
    url("images/michielettocoppa.jpg")left top no-repeat;
    background-size: 20%, 20%;
    grid-area: m;
}

header h1{
    background-image: url("images/logo_fipav.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}

header h2{
    font-size:  1.8em;
    padding: .5em;
    margin-top:  .3em;
}

/*
==============
SEZIONE BREADCRUMB
==============
*/

#breadcrumb{
    background-color:var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em 0 0.5em 1.0em;
    border:  1px solid #000;
}

#breadcrumb a:link{
    color: var(--linkcolor);
}

#breadcrumb a:visited{
    color: var(--visitedcolor);
}

/*
==============
SEZIONE MENU
==============
*/

#menu{
    float: left;
    width:  25%;
    font-size:  1.3em;
    padding:  .8em;
    grid-area: m;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu ul{
    list-style-type: none;
}

#menu ul li{
    margin-top: .5em;
}

#currentlink{
    color: var(--txtcolor);
    background-image: url("images/favpng_volleyball-icon.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

/*
==============
SEZIONE NEWS
==============
*/


aside{
    float:  right;
    width:  20%;
    border: 1px solid #000;
    padding: .5em;
    margin-top: 1em;
    margin-right: 2%;
    margin-left: 3%;
    overflow: hidden;
    background-color: var(--bgcolor);
    color:  var(--txtcolor);
    grid-area: m;
}

aside h2 {
    font-size: 1.2em;
    background-color: var(--newscolor);
    color:  var(--newstxtcolor);
    padding: .2em;
}



aside dl dd {
    margin-left: 1.5em;
}

aside dt {
    margin-left: .8em;
    font-weight: bold;
}

/*
==============
SEZIONE CONTENUTO
==============
*/
main{
    margin-left:  28%;
    padding: .5em 1em .5em 1.5em;
    color: var(--contentxtcolor);
    background-color: var(--contentbgcolor);
    grid-area: c;
}

main>h2{
    text-align: center;
    padding-bottom: .5em;
    padding-top: .2em;
}

main>ul{
    padding-left: 2em;
}

#giocatori{
    width: 95%;
}

#giocatori>dt{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: .5em;
    border: 1px solid black;
}

#giocatori>dd{
    border: 1px solid black;
    border-top: none;
    padding: .5em;
}

#giocatori>dd img{
    width: 20%;
    float: left;
}

.giocatore{
    margin-left: 25%;
}

.giocatore dt{
    float: left;
    font-weight: bold;
    padding-right: .5em;

}

dt .riconoscimenti{
    float: none;
}

main>img{
    width: 30%;
    float: left;
    margin-top: .5em;
    margin-right: 1em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    shape-outside: margin-box;

}

/*
==============
SEZIONE FOOTER
==============
*/

footer{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    grid-area: f;
}

footer img{
    padding-top: .5em;
}

footer p{
    display: inline;
    font-style: italic;
    font-size: .8em;
}